#asientos-disponibles {
    display: flex;
    flex-direction: column;
    max-width: auto; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.fila-asientos {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; /* Espacio entre filas */
    justify-content: center; /* Centrar los asientos en cada fila */
}

.asiento button {
    width: 23px; /* Ancho del botón */
    height: 23px; /* Alto del botón */
  }
/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  header .header{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  header .nombre{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  .sidebar{
    width: 50px;
    height: 100%;
    background-color: #1c1a1a;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
  }

  .menu-icono{
    color:#fffccc;
    font-size: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .modo-oscuro{
    background-color: #fffccc;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    justify-content: flex-end;
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .modo-icono{
    color: goldenrod;
  }

  
  .boton{
    width: 18px;
    height: 18px;
    background-color: #1c1a1a;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
  }

  .menu-icono:hover{
    transform: scale(1.2);
  }

  .container{
    background-color: #151515;
    color: #1c1a1a;
    margin-left: 50px;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura de la ventana */
    padding-bottom: 20px;
  }

  .contenido{
    color: #fffccc;
  }

  .encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding: 50px;
  }

  .descripcion{
    margin-left: 20%;
    text-align: right;
    width: auto;

  }

  .contenedor-peliculas{
    padding: 20px;
    margin-bottom: 10px;
  }

  .titulo-peliculas{
    margin-bottom: 20px;
  }

  .lista-peliculas{
    display: flex;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }

  .item-peliculas{
    width: 300px;
  }
 .item-peliculas:hover .lista-peliculas-img-item{
  transform: scale(1.02);
 }

 .titulo-pelicula{
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
 }

  .lista-peliculas-img-item{
    width: 300px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px; 
  }
  .interfaz-principal {
    max-width: 800px;
    margin: 50px auto 40px auto;
    padding: 20px;
    background-color: #1c1a1a;
    color: #fffccc;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .interfaz-cine {
    display: none;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1c1a1a;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .interfaz-sala {
    display: none;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1c1a1a;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Table Styles */
  
  .tabla {
    width: 100%;
    color: #fffccc;
  }
  
  .tabla th,.tabla td {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    text-align: left;
  }
  
  .tabla th {
    background-color: #f0f0f0;
    color: #1c1a1a;
  }
  
  .tabla-partidas {
    margin-bottom: 20px;
  }
  
  .tabla-salas {
    margin-bottom: 20px;
  }
  #cine-seleccionado{
    color: #fffccc;
  }
  #sala-seleccionada{
    color: #fffccc;
  }

  /* Seat Styles */
  
  .asiento {
    width: 23px;
    height: 23px;
    margin: 5px;
  }
  .asiento .available {
    color: rgb(47, 255, 50);
    cursor: pointer;
  }
  
  .asiento .occupied{
    color: rgb(56, 52, 52);
  }
  .asiento .reserved {
    color: rgb(215, 44, 44);
  }
  
  .fila-asientos {
    margin-bottom: 10px;
  }

  button{
    border: none;
    background-color: transparent;
  }
  .asiento .available:hover{
    opacity: 0.4;
  }
  h3{
    text-align: center;
    color:#fffccc;
  }
  .textos-salas{
    display: none;
    color:#fffccc;
  }
  .show-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 380px;
    color: #fffccc;
  }
  .show-card:hover {
    opacity: 0.4;
  }
  #showtimes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .image-contenedor{
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 10px;
  }
  .movie-poster{
    width: 100%;
    height: 100%;
    border-radius: 5px; 
  }
  #showtimes-container p{
    margin: 2px;
  }
  .cine-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 250px;
  }
  .cine-card:hover {
    opacity: 0.4;
  }
  .cine-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .contenedor-img-cine{
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 15px;
  }
  #cines-disponibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .container.active{
    background-color: #fffccc;
  }

  header.active {
    background-color: wheat;
    color: #1c1a1a;
  }

  .sidebar.active{
    background-color: wheat;
  }

  .menu-icono.active{
    color: #1c1a1a;
  }

  .modo-oscuro.active{
    background-color: #1c1a1a;
  }

  .boton.active{
    background-color: #fffccc;
    transform: translateX(-20px);
  }

  .contenedor-peliculas.active{
    color: #1c1a1a;
  }

  .interfaz-principal.active{
    background-color: #fff;
    color: #1c1a1a;
  }

  .interfaz-cine.active{
    background-color: #fff;
    color: #1c1a1a;
  }

  .interfaz-sala.active{
    background-color: #fff;
    color: #1c1a1a;
  }

  footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
  }

  .boton-soporte{
    background-color: #fffccc;
    color: #1c1a1a;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  .boton-soporte:hover{
    opacity: 0.4;
  }
  .login-container{
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #fffccc;
    color: #1c1a1a;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6f6b6b;
    color: #1c1a1a;
  }
  #btn-iniciar-sesion{
    background-color: #1c1a1a;
    color: #fffccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  #btn-iniciar-sesion:hover{
    opacity: 0.4;
  }
  .btnVolver{
    background-color: #1c1a1a;
    color: #fffccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btnVolver:hover{
    opacity: 0.4;
  }